.services
    display: grid
    grid-template-columns: auto 415px
    gap: var(--gapMd)
    align-items: center
    margin: var(--gapLg) auto
    +ft(16, 16*1.4, 400)
    color: $grey1

    &__list
        overflow: hidden

    &__block
        position: relative
        width: 90%
        margin: 0 auto
        overflow: hidden
        .swiper-services-toggle
            +ps(absolute, (t, 0), (b, 0), (l, 0))
            margin: auto
            width: 100%
            justify-content: space-between
            padding: 0
            
    
    &__wrap
        position: relative
        margin: var(--gapMd) auto
        padding: 0 60px

    &__title
        margin-bottom: var(--gap)
        +ft(32, 32, 700)
        color: $white

    &__img
        position: relative
        max-width: 415px
        width: 100%
        padding-top: 100%
        border-radius: $brs3
        overflow: hidden
        border: 1px solid $blue
        background: url('../images/bg-services.svg') no-repeat 50%/cover

        & *
            +ps(absolute, (t, 0), (l, 0))
            display: block
            +sz(100%, 100%)
            object-fit: cover
    
    +maw($lg)
        grid-template-columns: 2fr 1fr
       

    +maw($lsm)
        grid-template-columns: 1fr
        justify-content: center
        margin: var(--gapSm) auto
        &__block .swiper-services-toggle
            position: relative
            justify-content: center
        &__wrap
            padding: 0
            margin: 0 auto
        &__img
            max-width: 100%