body
	+theme(white)
	
	background-image: url('../images/bg.svg')
	background-repeat: no-repeat
	background-size: cover
	background-position: center top
	font-family: $ffText2


a
	font-family: inherit
	&:hover, &:focus, &:active, &:focus-visible
		color: inherit
		outline: none
		appearance: none
		box-shadow: none


.card
	@extend %card
	margin: 0

	+ft(14, 18, 400, $ffText2)
	color: $grey3

	&:nth-last-of-type(3), &:nth-last-of-type(2), &:nth-last-of-type(1)
		.card__icon
			opacity: 1
	&:nth-last-of-type(3)
		.card__icon
			color: $pink
	&:nth-last-of-type(2)
		.card__icon
			color: $blue
	&:nth-last-of-type(1)
		.card__icon
			color: $blue1
		
	&__title
		//margin-bottom: 6px
		margin-bottom: 12px
		+ft(26, 29, 700, $ffHeading)
		color: $black

	&__content
		position: relative
		z-index: 2
		width: 90%
		padding: 30px
		padding-bottom: 0

	&__footer
		position: relative
		z-index: 1
		+flex(flex, center, flex-end, nowrap)
		padding: 30px
		padding-top: 0

	&__icon
		+ps(absolute, (b, 0), (r, 0))
		z-index: -1
		color: $blue1
		opacity: 0

	&__wrap
		display: grid
		//grid-template-columns: repeat(auto-fit, minmax(calc(33% - 20px), 1fr))
		grid-template-columns: repeat(auto-fit, minmax(413px, 1fr))
		gap: $gap20

		+maw($xs)
			grid-template-columns: 1fr


.card-line
	@extend %card
	+flex(flex, center, space-between, nowrap)
	gap: 20px
	width: 100%
	padding: 15px 40px
	+ft(14, 18, 400, $ffText2)
	color: $grey4

	svg
		min-width: 24px

	&__title
		//margin-bottom: 6px
		margin-bottom: 0
		//+ft(24, 36, 600, $ffText)
		+ft(17, 17*1.4, 600, $ffText2)
	+maw($sm)
		padding: 15px 20px
		&__title
			+ft(16, 16*1.4, 600)


.hero
	margin-top: 60px
	margin-bottom: 60px	
	
	&-parent
		margin-bottom: 0

	&__search
		+flex(flex, center, space-between, nowrap)
		margin-top: 90px
		margin-bottom: 35px
		column-gap: 45px
		row-gap: 20px
	+maw($sm)
		&__search
			margin-top: 40px
			flex-wrap: wrap	
	+maw($xs)
		margin-top: 30px
		margin-bottom: 30px
		&-parent
			margin-bottom: 0


.subscribe
	+flex(flex, center, space-between, nowrap)
	position: relative
	width: 100%
	margin: 0 auto
	padding: 80px 70px
	border-radius: $brs2
	background-image: url('../images/bg-subscribe-img.svg'), url('../images/bg-subscribe-bd.svg')
	background-size: contain 
	background-repeat: no-repeat
	background-position: 0 50%, 50%
	color: $grey4

	&__title
		margin-bottom: 10px
		//+ft(64, 96, 600, $ffText)
		+ft(64, 64, 600, $ffText)

	&__text
		+ft(16, 24, 400, $ffText)

	.btn
		+theme(blue)
		padding: 17.5px 60px
		+ft(21, 35, 600)
		white-space: nowrap

		&__label
			display: block
			margin-bottom: 10px
			text-align: center

	+maw($lg)
		&__title
			+ft(42, 42, 600)
			margin-bottom: 10px
		.btn
			padding: 17.5px 1.5em
			+ft(16, 16, 600)

	+maw($md)
		background-image: none
		border-radius: 0
		border: 5px solid $blue2
		border-width: 5px 0
		padding: 20px

	+maw($sm)
		flex-wrap: wrap
		text-align: center

		&__btn
			max-width: 100%
			width: 100%

			.btn
				width: 100%
				&__label
					display: none

	+maw($xs)
		&__title
			+ft(24, 24, 600)


.subscribe-base
	padding: 55px
	background-image: url('../images/bg-subscribe-2.svg')
	background-repeat: no-repeat
	background-size: cover
	border-radius: 26px
	color: $grey8
	overflow: hidden

	+maw($md)
		padding: 25px 20px

	&__row
		+flex(flex, center, space-between, nowrap)
		row-gap: 20px
		height: 100%

		+maw($md)
			flex-wrap: wrap
			justify-content: center
			text-align: center
	
	&__title
		margin-bottom: 16px
		//+ft(32, 48, 600, $ffText)
		+ft(32, 32, 600, $ffText)
		+maw($xsm)
			+ft(24, 24, 600)
		

	&__text
		+ft(18, 21, 600, $ffText2)
		+maw($xsm)
			+ft(16, 16*1.4, 600)

	.btn
		min-width: 270px
		color: $white

		&__label
			display: block
			margin-bottom: $gap20
			text-align: center

			svg
				margin-left: 10px


.page
	&__content
		margin-top: 30px
		margin-bottom: 90px
		+maw($xsm)
			margin-bottom: 30px
			margin-top: 0

	&__container
		@extend %card
		user-select: initial
		padding: 25px 40px 30px

		+ft(14, 18, 400, $ffText2)
		color: $grey3

		h1, h2, h3, h4, h5, h6
			margin-bottom: $gap20
			margin-top: $gap20 + 10px
			color: $grey6 

		& > :first-child
			margin-top: 0

		b, strong
			color: $grey6 
		h1, h2
			//+ft(24, 36, 600, $ffText)
			@extend %h3
			
		h3, h4, h5, h6
			@extend %h4
		p
			margin-top: $gap20
			margin-bottom: $gap20
			&:first-of-type
				margin-top: 0
			&:last-of-type
				margin-bottom: 0

		a
			text-decoration: underline
			&:hover, &:active, &:focus
				text-decoration: none

	&__single
		margin-bottom: 60px
		.container
			display: flex
			flex-direction: column
			gap: 20px
		+maw($sm)
			margin-bottom: 30px

	&__info
		margin-top: 20px
		+maw($sm)
			margin-top: 0

	&__row
		+flex(flex, flex-start, flex-start, nowrap)
		flex-direction: column
		gap: $gap20

	&__title
		margin-bottom: 0
		+maw($sm)
			text-align: center

	&__actions
		display: grid
		grid-template-columns: 300px 1fr
		gap: 20px

		+maw($md)
			grid-template-columns: 1fr

	&__sidebar
		position: relative
		@extend %card
		padding: 20px


	&__wrap
		display: grid
		grid-template-columns: 310px 1fr
		gap: $gap20

		+maw($md)
			grid-template-columns: 1fr



.interest
	@extend %card
	color: $grey8
	padding: 30px 35px
	text-align: center

	&__row
		+flex(flex, flex-start, center, nowrap)
		gap: $gap20

	&__title
		margin-bottom: $gap20
		+ft(16, 16*1.5, 400, $ffText)
		letter-spacing: 0.1em

	figure
		cursor: pointer
		transition: $trs
		margin: 0
		&:hover, &:focus, &:active
			color: $grey2

	figcaption
		+ft(18, 21, 400, $ffText)


.tabs
	+flex(flex, center, fles-start, nowrap)
	flex-direction: column
	gap: 16px

	+maw($md)
		overflow: hidden
		overflow-y: scroll
		max-height: 225px
		
	+maw($sm)
		max-height: 200px

	&__toggle
		display: block
		width: 100%
		+ft(16, 24, 400, $ffText)
		color: $grey3
		cursor: pointer
		&.active, &:hover
			color: $grey4
			text-shadow: 0 0 0 $grey4

	&__content
		@extend %card
		padding: 35px 40px

	&__item
		display: none
		animation: fadeEffect 1.5s

		+ft(14, 18, 400, $ffText2)
		color: $grey9

		&.active
			display: block

		h1, h2, h3, h4, h5, h6
			margin-bottom: $gap20
			color: $grey4

		h1, h2
			//+ft(36, 54, 700, $ffText)
			@extend %h3

		h3, h4, h5, h6
			@extend %h4

		a
			text-decoration: underline
			&:hover, &:active, &:focus
				text-decoration: none
	
	&__text
		h1, h2, h3, h4, h5, h6
			margin-top: $gap20 + 10px


@keyframes fadeEffect 
	from
		opacity: 0
		transform: translateY(50px)
	to 
		opacity: 1
		transform: translateY(0)
