body
    +theme(dark)

    background-image: url('../images/bg-base.svg')
    background-repeat: no-repeat
    background-size: 100vmax
    background-position: center top
    font-family: $ffText2


a
    font-family: inherit
    &:hover, &:focus, &:active, &:focus-visible
        color: inherit
        outline: none
        appearance: none
        box-shadow: none


.page
    &__wrapper
        overflow: hidden


.section
    &_1, &_3
        margin-top: 75px
        margin-bottom: 75px
        //background: url('../images/bg2.svg') no-repeat 50%/cover
        +maw($xs)
            margin-top: 30px
            margin-bottom: 30px
        

.box
    +flex(flex, center, flex-start, nowrap)
    position: relative
    margin: 0

    &:hover
        .box__img
            &::after
                opacity: 0

    &__img
        position: relative
        +sz(220px, 220px)

        &::after
            content: ''
            +ps(absolute, (l, 0), (r, 0), (t, 0), (b, 0))
            margin: auto
            display: block
            //+sz(100%, 100%)
            background: url('../images/bg10.svg') no-repeat 0 50%/120%
            opacity: 0.8
            transition: $trs

        img
            display: block
            +sz(100%, 100%)
            object-fit: contain

    &__title
        margin-bottom: 16px
        +ft(24, 24, 400, $ffHeading)
        color: $blue

    &__text
        +ft(16, 25, 600, $ffText)
        color: $grey

    &__wrap
        display: grid
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr))
        gap: 20px
        justify-content: center
        margin-top: 60px
        +maw($xsm)
            margin-top: 30px
            gap: 0
       

.card
    position: relative
    background-color: transparent
    border-radius: 15px
    overflow: hidden

    background-repeat: no-repeat
    background-size: cover
    background-position: 50%
    background-image: url(../images/bg6.svg) 

    transition: $trs

    &.active, &:hover
        &::after
            @extend %mask
            border-radius: 15px
        
    &:nth-child(1)
        grid-row-start: 1
        grid-row-end: 3
        border-radius: 30px
        background-image: url(../images/bg7.svg) 

        &::after
            border-radius: 30px

        .card__content
            padding: 45px 50px

        &:hover
            .card
                &__toggle
                    transition: $trs
                    opacity: 1
                    cursor: pointer
                &__overlay
                    opacity: 1
                    transition: $trs
                &__img
                    opacity: 0
                    transition: $trs
            

    &:nth-child(2)
        grid-column: 2
        grid-row: 1
        background-image: url(../images/bg4.svg) 
    &:nth-child(3)
        grid-column: 3
        grid-row: 1
        background-image: url(../images/bg3.svg) 
    &:nth-child(4)
        grid-column: 2
        grid-row: 2
        background-image: url(../images/bg6.svg) 
    &:nth-child(5)
        grid-row: 2    
        grid-column: 3  
        background-image: url(../images/bg5.svg)       

    &__content
        +ps(absolute, (t, 0), (l, 0))
        +sz(100%, 100%)
        padding: 20px 30px

        overflow: hidden
        
    &__overlay
        overflow: hidden
        opacity: 0

        +maw($md)
            display: none

    &__img
        margin-top: auto
        margin-bottom: 0
     

    &__title
        +flex(flex, center, space-between, nowrap)
        +ft(32, 48, 600, $ffText)
        color: $white

        svg
            opacity: 0

        +maw($lg)
            +ft(24, 24*1.4, 600)
        +maw($xsm)
            +ft(17, 17*1.4, 600)

    &__subtitle
        +ft(16, 25, 600, $ffText2)
        margin-top: 16px
        margin-bottom: 30px

    &__list
        margin: 0
        
        li 
            list-style-position: outside
            padding-left: 10px

            //+ft(16, 20, 400, $ffText2)
            +ft(14, 14*1.4, 400, $ffText2)

            &:not(:first-child)
                margin-top: 15px

    &__wrap
        display: grid
        grid-template-columns: 2fr 1fr 1fr
        gap: 30px
        margin-top: 60px
        +maw($xsm)
            margin-top: 30px

    +maw($md)
        &__wrap
            grid-template-columns: 1fr 1fr
        &:nth-child(1)
            grid-row: 1
            grid-column: 1
            border-radius: 15px
            &::after
                border-radius: 15px
            .card__content
                padding: 20px 30px
        &:nth-child(2)
            grid-column: 2
            grid-row: 1
        &:nth-child(3)
            grid-column: 1
            grid-row: 2
        &:nth-child(4)
            grid-column: 2
            grid-row: 2
        &:nth-child(5)
            grid-row: 3    
            grid-column: 1  

    +maw($xs)
        &, &:nth-child(1) 
            .card__content
                padding: 15px 10px


    