h1, h2, h3, h4, h5, h6
    font-family: $ffHeading


h1, .h1
    margin-bottom: $gap20
    font-family: $ffHeading
    font-size: 7vmax
    line-height: 1.4
    @extend %text-grad
    +miw($lg)
        +ft(90, 90, 400, $ffHeading)
    +maw($sm)
        font-size: 300%
    +maw($xsm)
        +ft(36, 36, 400, $ffHeading)
    +maw($xxs)
        +ft(24, 24, 400, $ffHeading)
   
h2, .h2
    +ft(32, 48, 700, $ffText2)

%h3
    +ft(20, 20*1.3, 700, $ffHeading)
    +maw($xsm)
        +ft(17, 17*1.3, 600, $ffHeading)

h4
    +maw($xsm)
        +ft(18, 18*1.3, 600, $ffHeading)

%h4
    +ft(16, 25, 700, $ffHeading)
    +maw($xsm)
        line-height: 1.3
   
.text
    &__sub
        margin-top: 30px
        margin-bottom: 80px
        
        +ft(24, 36, 400, $ffText)
        letter-spacing: 0.1em

        +maw($xsm)
            +ft(20, 20*1.4, 400)
        +maw($xs)
            +ft(17, 17*1.4, 400)
            margin-bottom: 30px
       
.hgroup
    width: 100%
    +flex(flex, center, space-between, nowrap)
    overflow: hidden

    & > :first-child
        margin-bottom: 0
        margin-right: 5%
        flex: 1 0 auto
        width: auto
        +maw($xs)
            margin-right: 0

    img
        max-width: 100%
        opacity: 0.3
        +maw($xsm)
            display: none
    +maw($xsm)
        justify-content: center
        text-align: center