{{ define "main" }}
<!-- BEGIN section -->
{{- partial "header.html" . -}}
<!-- END section -->

{{ "<!-- blog -->" | safeHTML }}
<section class="page">
  <div>
    <h1>{{ .Title }}</h1>
    {{- partial "_breadcrumbs.html" . -}}
  </div>
  <div class="container">
    <div class="row">
      {{ $paginator := .Paginate .Data.Pages }} {{ range $paginator.Pages }} {{
      "<!-- blog post -->" | safeHTML }}
      <article class="col-md-6 mb-4">{{ .Render "post"}}</article>
      {{ end }} {{- partial "_pagination.html" . -}}
    </div>
  </div>
</section>

{{ end }}
