{{ define "main" }}

<div>
    <!-- BEGIN section -->
    {{- partial "header.html" . -}}
    {{ .Scratch.Set "title" $.Parent.Title }}
    {{ .Scratch.Set "subtitle" $.Parent.Params.sub_title }}
    {{ .Scratch.Set "search" false }}
    {{- partial "_hero-parent.html" . -}}
    <!-- END section -->
</div>
<article class="page__single">

    <div class="container">
        {{- partial "_breadcrumbs.html" . -}}
        <div class="page__container">
            <h2 class="">
                {{ .Title }}
            </h2>
            {{ .Content }}
        </div>
        <div class="page__actions">
            {{- partial "_interest.html" . -}}
            {{- partial "_bug-report.html" . -}}
        </div>
    </div>

</article>
{{ end }}