<div class="subscribe-base">
    <div class="subscribe-base__row">
        <div class="subscribe-base__content">
            <div class="subscribe-base__title">
                Bag report
            </div>
            <div class="subscribe-base__text">
                Нашли ошибку? Сообщите нам и мы с радостью ее исправим
            </div>
        </div>
        <div class="subscribe-base__cta">
            <div class="btn__wrap">
                <div class="btn__label">
                    <span>
                        Загрузить фото
                    </span>
                    <svg class="icon" width="17" height="17">
                        <use xlink:href="#download"></use>
                    </svg>
                </div>
                <a href="#" class="btn">
                    Отправить
                </a>
            </div>
        </div>
    </div>
</div>