{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_about }}
{{ with $data.homepage.section_about }}


<section class="section section_5" id="about">
    <div class="container">
        {{- partial "_hgroup.html" . -}}

        <div class="counter__wrap">

            {{ range .items }}
            <div class="counter">
              <div class="counter__content">
                <div class="counter__num">
                    {{ .title }}
                </div>
                <div class="counter__title">
                    {{ .description }}
                </div>
              </div>
                <div class="counter__overlay">
                    {{ .title }}
                </div>
            </div>
            {{ end }}

        </div>
        <img class="line" src="{{ `../images/line2.svg` | relURL }}" alt="{{ .title }}" />


    </div>
</section>

{{ end }}
{{ end }}