{{ $data := index .Site.Data .Site.Language.Lang }} {{ if
$data.homepage.section_services }} {{ with $data.homepage.section_services }}

<section class="section section_3" id="services">
  <div class="container">
    <hgroup class="hgroup">
      <h2>{{ .title }}</h2>
      {{- $class0 := "0" -}}
      {{- partial "_slider-toggle.html" (dict "class" $class0) -}}
    </hgroup>

    <div class="swiper swiper-services">
    <div class="card__wrapper swiper-wrapper">
      {{ range $i, $arr := .items }}
      <div class="card swiper-slide">
        <img src="{{ .img | relURL }}" alt="{{ .title }}" width="630" height="630" class="card__img" />
        <div class="card__content">
          <div class="card__title">

            {{ .title }}

            <svg class="icon card__toggle" width="25" height="25">
                <use xlink:href="#arr-tr"></use>
            </svg>

          </div>
          <div class="card__overlay">
            <div class="card__text">
              {{ .services }}
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    
</div>
  </div>
</section>

{{ end }} {{ end }}
