{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_benefits }}
{{ with $data.homepage.section_benefits }}


<section class="section section_3" id="benefits">
    <div class="container">
            {{- partial "_hgroup.html" . -}}
            <div class="benefits__wrap">
                {{ range .items }} 
                    <figure class="benefits">
                        <div class="benefits__header">
                            <svg class="icon" width="35" height="35">
                                <use xlink:href="#{{ .icon }}"></use>
                            </svg>
                            <span>
                                {{ .title }}
                            </span>
                        </div>
                        <figcaption class="benfits__body">
                            {{ .sub_title }}
                        </figcaption>
                    </figure>
                {{ end }}
            </div>

    </div>
</section>

{{ end }}
{{ end }}