{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_cta }}
{{ with $data.homepage.section_cta }}


<section class="section section_cta" id="cta">
    <div class="container">
        

        <div class="row">

            <div class="col-md-6 mb-4 mb-md-0">

                <div class="cta__title">
                    {{ .title }}
                </div>
                <div class="cta__description">
                    {{ .sub_title }}
                </div>

            </div>
            <div class="col-md-6">

                <form action="/" method="POST" novalidate class="form">
                    <div class="form__row">
                        <input type="text" placeholder={{ i18n "name" }} name="user_name" id="user_id" autocomplete="off" required class="form__field">
                        <div class="form__error">
                            *{{ i18n "form-error" }}
                        </div>
                    </div>
                    
                    <div class="form__row">
                        <input type="text" placeholder="Email" name="user_email" id="user_email" autocomplete="off" required class="form__field">
                        <div class="form__error">
                            *{{ i18n "form-error" }}
                        </div>
                    </div>
                    <div class="form__row">
                        <input type="text" placeholder={{ i18n "tel" }} name="user_tel" id="user_tel" autocomplete="off" required class="form__field">
                        <div class="form__error">
                            *{{ i18n "form-error" }}
                        </div>
                    </div>
                    <div class="form__row">
                        <textarea placeholder={{ i18n "question" }} name="user_msg" id="user_msg" class="form__field"></textarea>
                        <div class="form__error">
                            *{{ i18n "form-error" }}
                        </div>
                    </div>
                    <div class="form__success">
                        {{ i18n "form-success" }}
                    </div>
                    <button class="btn" type="submit">{{ i18n "send" }}</button>
                 
                </form>

            </div>

        </div>



    </div>
</section>

{{ end }}
{{ end }}