{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.homepage.section_solutions }}
{{ with $data.homepage.section_solutions }}


<section class="section section_1" id="solutions">
    <div class="container">
        <div class="card__wrap">
            {{ range .items }}
            <a class="card" href="{{ .url }}">
                <figcaption class="card__content">
                    <h2 class="card__title">
                        {{ .title }}
                    </h2>
                    <p class="card__text">
                        {{ .description }}
                    </p>
                </figcaption>
                <footer class="card__footer">
                    <svg class="icon card__icon" width="136" height="136">
                        <use xlink:href="#shape"></use>
                    </svg>

                    <svg class="icon" width="24" height="24">
                        <use xlink:href="#arr"></use>
                    </svg>
                </footer>
            </a>
            {{ end }}
        </div>

    </div>
</section>

{{ end }}
{{ end }}