<div class="interest">
    <div class="interest__title">
        Чи була ця відповідь корисною для вас?
    </div>
    <div class="interest__row">
        <figure>
            <svg class="icon" width="60" height="60">
                <use xlink:href="#like"></use>
              </svg>
            <figcaption>
                так
            </figcaption>
        </figure>
        <figure>
            <svg class="icon" width="60" height="60">
                <use xlink:href="#dislike"></use>
              </svg>
            <figcaption>
                ні
            </figcaption>
        </figure>
    </div>
</div>