<ul class="nav">
    {{ range .Site.Menus.main }}
    {{ if .HasChildren }}
    <li class="nav__item">
        <a class="nav__link" href="{{ .URL | relLangURL }}" role="button">
            {{ .Name }}
        </a>
        <ul class="nav-menu">
            {{ range .Children }}
            <li>
                <a class="nav-menu__item" href="{{ .URL | relLangURL }}">
                    {{ .Name }}
                </a>
            </li>
            {{ end }}
        </ul>
    </li>
    {{ else }}
    <li class="nav__item">
        <a class="nav__link" href="{{ .URL | relLangURL }}">
            {{ .Name }}
        </a>
    </li>
    {{ end }}
    {{ end }}
</ul>
