<section class="section_subscribe" id="subscribe">
    <div class="container">

        <figure class="subscribe">
            <div class="subscribe__content">
                <h3 class="subscribe__title">
                  {{ .title | markdownify }}
                </h3>
                <p class="subscribe__text">
                    {{ .sub_title | markdownify }}
                </p>
            </div>

            <div class="subscribe__btn">
                <a href="{{ .btn.url }}" class="btn">
                    {{ .btn.title }}
                </a>
            </div>
        </figure>

    </div>
</section>


