{{ define "main" }}
{{ $lang := .Page.Lang }}
{{ $data := index $.Site.Data }}


<div>
  <!-- BEGIN section -->
  {{- partial "header.html" . -}}
  {{ .Scratch.Set "title" .Params.title }}
  {{ .Scratch.Set "subtitle" .Params.sub_title }}
  {{ .Scratch.Set "search" true }}
  {{- partial "_hero-parent.html" . -}}
  <!-- END section -->
</div>
<article class="page__single">

  <div class="container">
    

    <div class="page__row">
      {{ range .Data.Pages }}
      <a class="card-line" href="{{ .Permalink }}">
        <div>
          <h3 class="card-line__title">{{ .Title | truncate 250 }}</h3>
          <div class="card-line__info">
            {{ if .Params.experience }} {{ .Params.experience }} {{ end }} /
            {{ if .Params.location }} {{ .Params.location }} {{ end }} /
            {{ if .Params.work_model }} {{ .Params.work_model }} {{ end }}
          </div>
        </div>
        
        <button class="btn">
          Apply
        </button>
      </a>
      {{ end }}
    </div>

    <div class="page__info">
      {{ with (index $data $lang) }}
      {{ $subscribe := .homepage.section_subscribe_work }}
      {{- partial "_subscribe.html" (dict "title" $subscribe.title "subtitle" $subscribe.sub_title "btn_title" $subscribe.btn.title "btn_label" $subscribe.btn.label "btn_url" $subscribe.btn.url) -}}
      {{ end }}
    </div>

  </div>

</article>
{{ end }}

