{{ define "main" }}

<div>
  <!-- BEGIN section -->
  {{- partial "header.html" . -}}
  {{- partial "_hero-parent.html" . -}}
  <!-- END section -->
</div>

<section class="section">
  <div class="container">
    <div class="page__content row justify-content-center">
      <div class="col-lg-10">
        <div id="search-results"></div>
        <script id="search-result-template" type="text/x-js-template">
          <div class="py-4 border-bottom" id="summary-${key}">
            <h4><a href="${link}">${title}</a></h4>
            <p>${snippet}</p>
          </div>
        </script>
      </div>
    </div>
  </div>
</section>

{{ end }}